<div class="form-group">
  <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" [ngModel]="place2" [formControl]="searchControl" #searchGoogle>
</div>
<div id="map" style="height:500px;"></div>

<!--<div *ngFor="let place of places">
  {{place | json }}
  <hr>
</div>-->

<!--<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDoubleClickZoom]="true" (mapClick)="onMapClick($event)" [mapTypeControl]="true">
  
  <sebm-google-map-marker 
        *ngFor="let place of places"
        [latitude]="place.infoplace.place.lat_round/1000" 
        [longitude]="place.infoplace.place.lng_round/1000">
  </sebm-google-map-marker>
    <sebm-map-polygon [paths]="paths">
    </sebm-map-polygon>-->
  <!--<sebm-google-map-polyline *ngFor="let transport of transports" [editable]="true" >
    
         <sebm-google-map-polyline-point [latitude]="poly[0]" [longitude]="poly[1]" *ngFor="let poly of transport">
         </sebm-google-map-polyline-point>
     </sebm-google-map-polyline>-->

 <!--<sebm-google-map-polyline 
        *ngFor="let transport of transports" 
        [editable]="true"
        [polylineDraggable]="true"
         >
    
         <sebm-google-map-polyline-point *ngIf="transport && transport.length>0 && transport[0] " (positionChanged)="lineDragEnd($event)" [latitude]="transport[0][0]" [longitude]="transport[0][1]" >
         </sebm-google-map-polyline-point>
         <sebm-google-map-polyline-point *ngIf="transport && transport.length>0 && transport[19]" (positionChanged)="lineDragEnd($event)" [latitude]="transport[19][0]" [longitude]="transport[19][1]" >
         </sebm-google-map-polyline-point>
     </sebm-google-map-polyline>

  <sebm-google-map-marker 
        [latitude]="lat || marker_lat" 
        [longitude]="lng || marker_lng"
        [label]="'Go'" >
        
       
       <sebm-google-map-info-window 
       
          *ngIf="marker_lat && marker_lng"
            [disableAutoPan]="true"
            [isOpen]="true"
            [latitude]="marker_lat" 
            [longitude]="marker_lng"
            (infoWindowClose)="onInfoWindowClose($event)"
            #googleMapInfoWindow>
            
            <div class="center-content">
             
              
              

              <div *ngIf="!geocoder_loading && placeName"> 
                <h4>{{placeName}}</h4>

                <div *ngIf="mapPhotoStyle" class="image map-image" [ngStyle]="mapPhotoStyle" ></div>
                <div *ngIf="!mapPhotoStyle">Loading images..</div>
                
                 <div *ngIf="!tripId && !uuid">
                   <button class="btn btn-primary btn-lg button-margin" (click)="addPlaceToTripOrCreateNewTrip(0)">Start my trip here!</button>
                 </div>
                 <div *ngIf="tripId && uuid">
                    <div  class="btn-group button-margin" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary btn-sm" (click)="addPlaceToTripOrCreateNewTrip(1)">
                        <i class="material-icons">directions_walk</i>Walk
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm" (click)="addPlaceToTripOrCreateNewTrip(2)">
                        <i class="material-icons">directions_bike</i>Bike
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm" (click)="addPlaceToTripOrCreateNewTrip(3)">
                        <i class="material-icons">thumb_up</i>HH
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm" (click)="addPlaceToTripOrCreateNewTrip(0)">
                        <i class="material-icons">drive_eta</i>Car
                      </button>
                      <button type="button" class="btn btn-secondary btn-sm" (click)="addPlaceToTripOrCreateNewTrip(4)">
                        <i class="material-icons">airplanemode_active</i>Flight
                      </button>
                    </div> 
                    (to add this place to your trip choice transport)
                </div>
                
              </div>
              
            </div>
            <div class="center-content-overflow"></div>
       </sebm-google-map-info-window >
     </sebm-google-map-marker>

</sebm-google-map>-->
