.sebm-google-map-container {
  margin-top: 100px;
  height: 700px;
}
.button {
  margin:10px;
}

.center-content{
  text-align: center;
  width: 298px;
  position: absolute;
  z-index: 30000;
  background-color:white;

}


.material-icons{
  font-size:12px;
  margin-right:2px;
}

.center-content-overflow{
  width: 270px;
  height: 265px;
}

.button-margin {
  margin-top:10px;
  margin-bottom:5px;
}