//@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~foundation-sites/dist/css/foundation";

// http://paletton.com/#uid=50X0A0kmRvg5Wvab4ybF+FwOMuV
$color-bg-move : #3d3d3d;
$color-move: white;
$color-bg-place : #bdbdbd;


html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  
}

span.active {
  background-color: gray;
}

a {
  color:#3c3c3c
}