<div >

<!--<ul class="clearing-thumbs" data-clearing>
    <li  *ngFor="let photo of info.photos">
            
                <a><img src="https://www.bazos.cz/img/1/764/67778764.jpg?t=1479480974" /></a>
            
        <cl-image class="th [radius]" public-id="{{photo.cloudinary}}" cloud-name="miuan" ></cl-image>
    </li>
</ul>-->
 

    <div class="main-place-info"
      [ngStyle]="style"
        mwlResizable
        [validateResize]="validate"
        [resizeEdges]="{bottom: true}"
        [enableGhostResize]="false"
        (resizing)="onResizing($event)">
            <div class="visit-title" >
        <span class="visiting">
                <span *ngIf="index!=0">Exploring:</span>
                <span *ngIf="index==0">Start in:</span>
            </span>
            <span class="place-name">
                <span class="handle"><span *ngIf="index!=0">{{index}}.</span> {{info?.name}}</span>
            </span>
            <span>({{hours}}h {{minutes}}min)</span>     
            <span class="delete" >
                <a *ngIf="!deleteActive" class="delete-link" (click)="deleteActive=true">[delete]</a>
                <span *ngIf="deleteActive">
                    realy delete it ? 
                    <span class="button tiny alert" (click)="onDelete()">yes</span>
                    <span class="button tiny success" (click)="deleteActive=false">no</span>
                </span>
            </span>
            
    </div>
    <g4t-photos-info-view class="photos" [cloudinary]="info.place.cloudinary" [photos]="info.photos" [height]="imageHeight" ></g4t-photos-info-view>
    <div class="departing-title" >
        <span class="visiting">
                <span >Departing at:</span>
               
            </span>
            
            <span>({{hours}}h {{minutes}}min)</span>     
            
            
    </div>

    
        

        <!--<div class="place-image" *ngFor="let photo of info.photos; let idx = index">
                <cl-image *ngIf="idx < 4" class="th [radius]" public-id="{{photo.cloudinary}}" crop="fill" gravity="center" width="500" height="{{imageHeight}}" cloud-name="miuan" ></cl-image>
            </div>-->
           
        
    
               
    <div class="clearfix">
    </div>
            


        
    </div>
    
</div>
<g4t-move-info-view *ngIf="place.moves" [places]="places" [moves]="place.moves" [fromPlace]="place" [index]="index"></g4t-move-info-view>

