<div >
    
    <div class="main-place-info"
      [ngStyle]="style"
        mwlResizable
        [validateResize]="validate"
        [resizeEdges]="{bottom: true}"
        [enableGhostResize]="false"
        (resizing)="onResizing($event)">

        
        <h1 >
            <span class="handle">{{place?.name}}</span>
            
            <span class="delete" >
                <span *ngIf="!deleteActive" class="button tiny danger" (click)="deleteActive=true">[delete]</span>
                <span *ngIf="deleteActive">
                    realy delete it ? 
                    <span class="button tiny alert" (click)="onDelete()">yes</span>
                    <span class="button tiny success" (click)="deleteActive=false">no</span>
                </span>
            </span>
        </h1>
    </div>
    
</div>
<g4t-move-info-view *ngIf="place.moves" [places]="places" [moves]="place.moves" [fromPlace]="place"></g4t-move-info-view>

