@import '../../../app.component.scss';




.main-place-info {
    background-color: $color-bg-place;
    
    margin:auto;
    padding-bottom: 10px;

    table, td, tr, tbody, tbody td {
        margin:0px;
        padding:0px;
        border: none;
        
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
}

.visiting {
    margin-left: 5px;
}

.move-info{
    background-color: $color-bg-move;
    height:20px;
    position:relative;
    bottom:10px;
}

h1{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    font-size:20px;
    text-transform: uppercase;
}

.handle {
    cursor:move;
    padding:2px;
}

.delete {

}

.place-name{
    font-weight: bold;
}

.delete-link {
    color:orangered;
}

.image-container {
    width:100%;
    overflow: hidden;
}

.place-image {
    float:left;
    width:24%;
}

.visit-title{
    margin-top:-34px;
    margin-left:50px;
    padding:8px;
    background-color:#000000;
    opacity: 0.8;
    color:white;
}
