#login-center-block{
    width:400px;
    margin: auto;
    padding: 20px;
   position: absolute;
   left: 0; right: 0;
   border-width: 1px;
   border-style: solid;
   border-radius: 3px;
   border-color: #AAA;
}