@import '../../../app.component.scss';

.main-move-info {
    background-color: $color-bg-move;
    margin:0px;
    padding:2px;
    color: white;
   
}

.transport {
    margin-left: 5px;
}

.info {
    margin-top:-10px;
    margin-left:250px;
    background-color:$color-bg-move;
    height:22px;
}

.move-image {

    position:relative;
    background-color:$color-bg-move;
    float:right;
    margin:2px;
    padding:0px;

    img, a {
        margin:0px;
        padding:0px;
    }
}

.image-frame{
    float:right;
    position:relative;
    margin-top:-41px;
    margin-right:0px;
    z-index:50000;
    padding-right:4px;
    padding-left:5px;
    background-color:black;
}
.image {
  

    
}

a {
    color: white;
}

a:hover {
    color: black;
}

.add-stopover {
    color: dodgerblue;
}

