<div *ngIf="!trip">Loading ... </div>
<div class="row" *ngIf="trip">
      <div class="large-3 columns"  > 
        <label >Trip name
            <input  type="text" placeholder="Visit Prague on Winter">
        </label>

        <label>Trip start</label>
        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
        

        <g4t-trip-way-item class="alternatives" *ngFor="let way of alternatives; let idx = index" 
                [allTripWays]="alternatives" 
                [tripWay]="way" 
                [trip]="trip"
                (setActiveTripWay)="setActiveTripWay($event)"
                (doDeleteTripWay)="doDeleteTripWay($event)"
                (doUpdateTripWay)="doUpdateTripWay($event)"
                (cloneAlternative)="cloneAlternative($event)"
                (createTripFromTripWay)="createTripFromTripWay($event)"
                (setTripWayAsMain)="setTripWayAsMain($event)">

        </g4t-trip-way-item>

        <label>Trip info
            <textarea placeholder="What is the plan, who would like to take with you, ..." rows="17"></textarea>
        </label>
        <input id="checkbox1" type="checkbox" [(ngModel)]="trip.returnBack" (change)="tripReturnBackChange($event)"><label for="checkbox1">Automaticaly include way return</label>
    </div>
    <div class="large-9 columns">
        <div class="timeline">
            <g4t-trip-timeline [totalMinutes]="totalMinutes"></g4t-trip-timeline>
        </div>
            
        <div id="places" class="places" [dragulaModel]="places" [dragula]='"bag"' >
            <!--<div id="places" class="places">-->
            <div *ngFor="let place of places;let idx = index" id="{{place.id}}-places-id" >
                
                <g4t-place-info-view  [place]="place" [places]="places" [index]="idx" [wayUuid]="tripWayUuid" (onDelete)="onDelete($event)" (onResize)="updateTimeForAlternative()"></g4t-place-info-view>
            </div>
            
        </div>
        <div class="clearfix">
            <div class="button" (click)="tripService.onNewPlace()">Add place</div>
            
        </div>

         
    </div>

  
<div>