<div class="card-container">
  <h5>Account</h5>

  <hr>
  <h5>Invoice address</h5>
  <label>Company name</label>
  <input type="text" name="textInput" [(ngModel)]="ia.company" autofocus>
  <label>Account Name</label>
  <input type="text" name="textInput" [(ngModel)]="ia.name" autofocus>
  <label>Address</label>
  <input type="text" name="textInput" [(ngModel)]="ia.address" autofocus>
   <label>City</label>
  <input type="text" name="textInput" [(ngModel)]="ia.city" autofocus>
   <label>ZIP</label>
  <input type="text" name="textInput" [(ngModel)]="ia.zip" autofocus>
   <label>State</label>
  <input type="text" name="textInput" [(ngModel)]="ia.country" autofocus>
  <button>Update</button>
</div>
