

table, tr, td, .no-margin-no-padding {
    margin:0px;
    padding:0px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color:red;
}


.day-info {
    margin:0px;
    padding:0px;
    background-color:yellow;
}

h6{
    font-size:10px;
}

.day {
    font-size:9px;
    color:black;
    border-bottom-style: solid;
    border-color: black;
    border-width:1px;
}

.evening {
    background-color: lightgray;
}